#team-table,
#employee-table,
#employee-team-table{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    margin-bottom: 16px;
    min-height: 200px;
}
    
.tabulator {
    font-size: 0.75rem;
}
  
.fs-12 {
    font-size: 0.75rem;
}
  
.btn {
    height: 2.5vh;
    font-size: 0.75rem;
    border: none;
    font-weight: bold;
}
.modal-header {
    padding: 0.5rem;
}

::ng-deep ng-select .ng-value-container {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
}

::ng-deep ng-select.form-control .ng-clear-wrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

::ng-deep ng-select.form-control .ng-clear-wrapper:hover {
  color: #d9363e;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-top: 3px;
    margin-right: 1px;
    font-size: .75rem;
    background-color: #fafafa;
    border: none;
    border-radius: 2px;
    height: 24px;
    line-height: 22px;
}