<div class="layout-wrapper d-flex" style="height: 100%">
  <div class="offcanvas offcanvas-left custom-offcanvas" tabindex="-1" id="searchOffcanvas" data-bs-backdrop="false">
    <div class="offcanvas-header">
      <h6 class="offcanvas-title">Tìm kiếm</h6>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <!-- Năm -->
      <div class="form-group">
        <label class="fs-12" for="txtYear ">Năm</label>
        <input type="number" id="txtYear" min="2024" max="9999" [(ngModel)]="searchParams.year"
          (change)="onYearChange($event)" class="form-control fs-12 form-control-sm">
      </div>

      <!-- Tháng -->
      <div class="form-group">
        <label for="txtMonth" class="fs-12">Tháng</label>
        <input type="number" id="txtMonth" min="1" max="12" [(ngModel)]="searchParams.month"
          (change)="onMonthChange($event)" class="form-control fs-12 form-control-sm">
      </div>

      <!-- Phòng ban -->
      <div class="form-group">
        <label class="fs-12" for="cboDepartment">Phòng ban</label>
        <ng-select id="cboDepartment" class="department-select fs-12" [items]="dataDeparment" bindLabel="Name"
          [bindValue]="'ID'" [(ngModel)]="searchParams.departmentId" (change)="onDepartmentChange($event)"
          placeholder="Chọn phòng ban">
          <ng-template ng-header-tmp>
            <div class="row font-weight-bold text-center">
              <div class="col-4 fs-12" style="font-weight: bold;">Mã phòng ban</div>
              <div class="col-4 fs-12" style="font-weight: bold;">Tên phòng ban</div>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div class="row text-center">
              <div class="col-4 fs-12">{{ item.Code}}</div>
              <div class="col-4 fs-12">{{ item.Name }}</div>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <!-- Từ khóa -->
      <div class="form-group">
        <label for="txtSearch " class="fs-12">Từ khóa</label>
        <input type="text" id="txtSearch" class="form-control fs-12 form-control-sm" [(ngModel)]="searchParams.keyword"
          (input)="onKeywordChange($event)" placeholder="Nhập từ khóa...">
      </div>

      <div class="offcanvas-bottom pt-0 pb-1">
        <div class="col-12 ps-3 pe-3">
          <button class="btn btn-success col-12 fs-10 d-flex align-items-center justify-content-center"  data-bs-dismiss="offcanvas" >
            Tìm kiếm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid project-container" id="projectParent">
    <div class="row">
      <div class="col-12 p-0">
        <div class="card">
          <div class="card-header p-0">
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-outline-secondary p-0 ps-2 pe-2" title="Tìm kiếm"
                data-bs-toggle="offcanvas" data-bs-target="#searchOffcanvas">
                <i class="fas fa-search  p-0 ps-2 pe-2"></i>
              </button>
              <button class="btn btn-outline-secondary p-0 ps-2 pe-2" id="btnNew">
                <i class="fa-solid fa-plus"></i> Thêm
              </button>
              <button class="btn btn-outline-secondary p-0 ps-2 pe-2" id="btnEdit">
                <i class="fa-solid fa-pen-to-square"></i> Sửa
              </button>
              <button class="btn btn-outline-secondary p-0 ps-2 pe-2" id="btnDelete">
                <i class="fa-solid fa-trash"></i> Xóa
              </button>
              <button class="btn btn-outline-secondary p-0 ps-2 pe-2" id="btnCopy">
                <i class="fa-solid fa-copy"></i> Copy
              </button>

              <button class="btn btn-outline-success  p-0 ps-2 pe-2" id="btnAdminApproved" (click)="IsAdminApproved()">
                <i class="fa-solid fa-check"></i> Admin duyệt
              </button>
              <button class="btn btn-outline-danger  p-0 ps-2 pe-2" id="btnUnAdminApproved" (click)="UnAdminApproved()">
                <i class="fa-solid fa-xmark"></i> Admin hủy
              </button>
              <button class="btn btn-outline-success  p-0 ps-2 pe-2" id="btnApprove" (click)="IsApproved()">
                <i class="fa-solid fa-check"></i> TBP duyệt
              </button>
              <button class="btn btn-outline-danger  p-0 ps-2 pe-2" id="btnDisapprove" (click)="UnIsApproved()">
                <i class="fa-solid fa-xmark"></i> TBP hủy
              </button>
            </div>

            <div class="card-body p-0">
             <!-- <p class="card-header">DANH SÁCH ĐĂNG KÝ VĂN PHÒNG PHẨM</p> -->
              <div id="datatable1" class="custom-tabulator" ></div>
             <!-- <p class="card-header">CHI TIẾT VĂN PHÒNG PHẨM</p> -->
              <div id="datatable2" class="custom-tabulator mt-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>