<h6 class="my-1">Chức vụ theo hợp đồng</h6>
<div class="d-flex align-items-center justify-content-start">
    <button type="button" class="btn btn-outline-secondary rounded d-flex align-items-center gap-2" title="Thêm mới"
        (click)="openAddModal()">
        <i class="fas fa-plus"></i>
        <span>Thêm</span>
    </button>
    <button type="button" class="btn btn-outline-secondary rounded d-flex align-items-center gap-2" title="Sửa"
        (click)="openEditModal()">
        <i class="fas fa-pen"></i>
        <span>Sửa</span>
    </button>
    <button type="button" class="btn btn-outline-secondary rounded d-flex align-items-center gap-2" title="Xóa"
        (click)="openDeleteModal()">
        <i class="fas fa-trash"></i>
        <span>Xóa</span>
    </button>
</div>
<div class="col-xl-12">
    <div id="position-contract-table"></div>
</div>

<!-- Modal thêm, sửa -->
<div class="modal fade" id="addPositionContractModal" tabindex="-1" aria-labelledby="addPositionContractModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h6 class="modal-title text-uppercase" id="addPositionContractModalLabel">{{isEditMode ? 'Sửa chức vụ theo hợp đồng' :
                    'Thêm chức vụ theo hợp đồng'}}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #positionContractForm="ngForm" (ngSubmit)="onSubmit(positionContractForm)">
                    <div class="mb-3 fs-12">
                        <label for="code" class="form-label">Mã chức vụ <span class="text-danger">(*)</span></label>
                        <input type="text" class="form-control fs-12" id="code" name="code"
                            [(ngModel)]="positionContract.Code" required #code="ngModel">
                    </div>
                    <div class="mb-3 fs-12">
                        <label for="name" class="form-label">Tên chức vụ <span class="text-danger">(*)</span></label>
                        <input type="text" class="form-control fs-12" id="name" name="name"
                            [(ngModel)]="positionContract.Name" required #name="ngModel">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    style="height: 3vh; border: 1px solid;">Đóng</button>
                <button type="button" class="btn btn-success" (click)="onSubmit(positionContractForm)"
                    style="height: 3vh;">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Xác nhận xóa
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa chức vụ theo hợp đồng</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa chức vụ theo hợp đồng này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" (click)="deletePositionContract()">Xóa</button>
            </div>
        </div>
    </div>
</div> -->
