<div class="layout-wrapper d-flex" style="height: 100%">
  <div
    class="offcanvas offcanvas-left custom-offcanvas border border-1"
    tabindex="-1"
    id="searchOffcanvas"
    data-bs-backdrop="false"
  >
    <div class="offcanvas-header pt-0 mt-2 pb-0 mb-2">
      <h5 class="offcanvas-title fs-12">Tìm kiếm</h5>
      <button
        type="button"
        class="btn-close text-reset fs-12"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body pt-0 pb-0">
      <div class="row h-auto">
        <div class="col-12">
          <div class="form-group">
            <label class="fs-12">Nhập từ khóa</label>
            <input
              type="text"
              [(ngModel)]="searchText" (input)="onSearchChange($event)" placeholder="Tìm kiếm..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid project-container" id="projectParent">
    <div class="row">
      <div class="col-12 p-0">
        <div class="card">
          <div class="card-header p-0">
              <!-- <div class="d-flex justify-content-start">
                  <button
                    type="button"
                    class="btn btn-outline-secondary p-0 ps-2 pe-2"
                    title="Tìm kiếm"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#searchOffcanvas"
                  >
                    <i class="fas fa-search"></i> Tìm kiếm
                  </button>
                  <input type="text"   class="p-0 ps-1 pe-1" [(ngModel)]
                  ="searchText" (input)="onSearchChange($event)" placeholder="Tìm 
                  kiếm...">
                  <button
                    type="button"
                    class="btn btn-outline-secondary p-0 ps-2 pe-2"
                    title="Thêm mới" (click)="openModalForNewProduct()"
                  >
                    <i class="fas fa-plus"></i> Thêm
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary p-0 ps-2 pe-2"
                    title="Sửa" (click)="edit()"
                  >
                    <i class="fas fa-pen"></i> Sửa
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary p-0 ps-2 pe-2"
                    title="Xóa" (click)="delete()"
                  >
                    <i class="fas fa-trash"></i> Xóa
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary p-0 ps-2 pe-2"
                    title="Xuất Excel"  (click)="exportToExcel()"
                  >
                    <i class="fas fa-file-excel"></i> Xuất excel
                  </button>
               -->
            <div class="d-flex justify-content-between">
              <div class="d-flex gap-2">
                <button
                  type="button"
                  class="btn btn-outline-secondary p-0 ps-2 pe-2"
                  title="Thêm mới" (click)="openModalForNewProduct()"
                >
                  <i class="fas fa-plus"></i> Thêm
                </button>
                <button
                  type="button"
                  class="btn btn-outline-secondary p-0 ps-2 pe-2"
                  title="Sửa" (click)="edit()"
                >
                  <i class="fas fa-pen"></i> Sửa
                </button>
                <button
                  type="button"
                  class="btn btn-outline-secondary p-0 ps-2 pe-2"
                  title="Xóa" (click)="delete()"
                >
                  <i class="fas fa-trash"></i> Xóa
                </button>
                <button
                  type="button"
                  class="btn btn-outline-secondary p-0 ps-2 pe-2"
                  title="Xuất Excel"  (click)="exportToExcel()"
                >
                  <i class="fas fa-file-excel"></i> Xuất excel
                </button>
              </div>
              
              <div class="d-flex gap-2 align-items-center">
                <input type="text" class="form-control form-control-sm " [(ngModel)]="searchText" (input)="onSearchChange($event)" placeholder="Tìm kiếm...">
              </div>
            </div>

          </div>
          <div class="card-body p-0">
              <div id="datatable"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="detailProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div  class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Chi tiết sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation was-validated" novalidate>

          <div class="row mb-3">
            <div class="col md-6">
              <label for="CodeRTC" class="form-label">Mã RTC <sup style="color: red;">(*)</sup></label>
              <input type="text" class="form-control" [(ngModel)]="newProduct.CodeRTC" name="CodeRTC" readonly>
            </div>
            <div class="col md-6">
              <label for="CodeNCC" class="form-label">Mã NCC <sup style="color: red;">(*)</sup></label>
              <input type="text" class="form-control" [(ngModel)]="newProduct.CodeNCC" name="CodeNCC"
                placeholder="Nhập mã NCCC" required>
              <div class="invalid-feedback">
                Vui lòng nhập mã nhà cung cấp!
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div>
              <div class="col md-12">
                <label for="NameRTC" class="form-label">Tên RTC <sup style="color: red;">(*)</sup></label>
                <input type="text" class="form-control" [(ngModel)]="newProduct.NameRTC" name="NamRTC"
                  placeholder="Nhập tên RTC">
              </div>
            </div>

          </div>
          <div class="row mb-3">
            <div>
              <div class="col md-12">
                <label for="NameNCC" class="form-label">Tên NCC <sup style="color: red;">(*)</sup></label>
                <input type="text" class="form-control" [(ngModel)]="newProduct.NameNCC" name="NameNCC"
                  placeholder="Nhập tên NCC" required>
                <div class="invalid-feedback">
                  Vui lòng nhập tên nhà cung cấp!
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col md-6">
              <label for="SupplyUnitID" class="form-label">Đơn vị tính <sup style="color: red;">(*)</sup></label>
              <div class="d-flex gap-2 align-items-center">
                <ng-select [items]="listUnit" bindLabel="Name" bindValue="ID" [(ngModel)]="newProduct.SupplyUnitID"
                  name="SupplyUnitID" placeholder="Chọn đơn vị" class="flex-grow-1" required >
                </ng-select>
                <button type="button" class="btn btn-outline-primary d-flex align-items-center justify-content-center"
                  style="width: 31px; height: 31px; padding: 0;" data-bs-toggle="modal"
                  data-bs-target="#addUnitModal">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
              <div class="invalid-feedback">
                Vui lòng chọn đơn vị tính!
              </div>
            </div>
            <div class="col md-6">
              <label for="Price" class="form-label">Giá sản phẩm<sup style="color: red;">(*)</sup></label>
              <input style="text-align: right;" type="number" min="1000" class="form-control" [(ngModel)]="newProduct.Price"
                placeholder="Nhập giá" name="Price" required>
              <div class="invalid-feedback">
                Vui lòng nhập giá sản phẩm!
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col md-6">
              <label for="RequestLimit" class="form-label">Định mức</label>
              <input type="number" style="text-align: right;" class="form-control" min="1"
                [(ngModel)]="newProduct.RequestLimit" placeholder="" name="RequestLimit" required>
            </div>
            <div class="col md-6">
              <label for="Type" class="form-label">Chọn loại sản phẩm<sup style="color: red;">(*)</sup></label>
              <ng-select [items]="typeOptions" bindLabel="name" bindValue="id" [(ngModel)]="newProduct.Type"
                name="Type" placeholder="Chọn loại sản phẩm" required>
              </ng-select>
              <div class="invalid-feedback">
                Vui lòng chọn loại sản phẩm!
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-outline-primary" (click)="isCheckmode? update(): add()">Lưu</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal thêm đơn vị tính -->
<div class="modal fade" id="addUnitModal" tabindex="-1" aria-labelledby="addUnitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div  style="background-color: #caced2; text-align: center;"class="modal-header">
        <h5 class="modal-title" id="addUnitModalLabel">Thêm đơn vị tính mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate>
          <div class="mb-3">
          </div>
          <div class="mb-3">
            <label for="unitName" class="form-label">Tên đơn vị <sup style="color: red;">(*)</sup></label>
            <input type="text" class="form-control" id="unitName" [(ngModel)]="newUnit.Name" name="unitName" required placeholder="Nhập tên đơn vị">
            <div class="invalid-feedback">
              Vui lòng nhập tên đơn vị!
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button style="height: auto;" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
        <button style="height: auto;" type="button" class="btn btn-outline-primary" (click)="addNewUnit()">Lưu</button>
      </div>
    </div>
  </div>
</div>