
<div class="button-section">
  <div class="button-group">
    <button class="btn btn-outline-success" (click)="openUnitModalForNewUnit()">
      <i class="fa-solid fa-plus"></i> Thêm
    </button>
    <button class="btn btn-outline-warning" (click)="openUnitModalForUpdateUnit()">
      <i class="fa-solid fa-pen-to-square"></i> Sửa
    </button>
    <button class="btn btn-outline-danger" (click)="deleteUnit()">
      <i class="fa-solid fa-trash"></i> Xóa
    </button>
  </div>
</div>
<div class="table-container mt-3">
  <div id="datatable"></div>
</div>
  <!-- Modal thêm đơn vị tính -->
  <div class="modal fade" id="addUnitModal" tabindex="-1" aria-labelledby="addUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUnitModalLabel">Thêm đơn vị tính mới</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" novalidate>
            <div class="mb-3">
            </div>
            <div class="mb-3">
              <label for="unitName" class="form-label">Tên đơn vị <sup style="color: red;">(*)</sup></label>
              <input type="text" class="form-control" id="unitName" [(ngModel)]="selectedItem.Name" name="unitName" required placeholder="Nhập tên đơn vị">
              <div class="invalid-feedback">
                Vui lòng nhập tên đơn vị!
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-outline-primary" (click)="saveSelectedItem()">Lưu</button>
        </div>
      </div>
    </div>
  </div>


