<!-- Modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="customerPartModalLabel">THÔNG TIN BỘ PHẬN KHÁCH HÀNG</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Khách hàng</label>
                    <ng-select 
                        bindLabel="CustomerName" 
                        [(ngModel)]="selectedCustomer" 
                        [items]="customers" 
                        (change)="onCustomerChange($event)">
                    </ng-select>
                </div>
                
                <div class="mb-3">
                    <button type="button" class="btn btn-primary mb-2" (click)="addNewRow()">
                        <i class="bi bi-plus-circle"></i> Thêm mới
                    </button>
                    <div #CustomerPartTable></div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveCustomerParts()" >
                    <i class="bi bi-save"></i> Cất & Đóng
                </button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Đóng</button>
            </div>
