<!-- UnitManagement.component.html -->
<div class="d-flex align-items-center mb-3">

  <button type="button" class="btn btn-outline-secondary p-0 ps-2 pe-2 fs-12" title="Thêm mới"
    (click)="openUnitModal('add')">
    <i class="fas fa-plus"></i> Thêm
  </button>
  <button type="button" class="btn btn-outline-secondary p-0 ps-2 pe-2 fs-12" title="Sửa" (click)="onEditClick()">
    <i class="fas fa-pen"></i> Sửa
  </button>
  <button type="button" class="btn btn-outline-secondary p-0 ps-2 pe-2 fs-12" title="Xóa" (click)="onDeleteClick()">
    <i class="fas fa-trash"></i> Xóa
  </button>
</div>
<div class="col-12 col-sm-12">
  <div class="border">
    <div id="datatableunit" style="height: 25vh;"></div>
  </div>
</div>

<!-- Modal chung Add/Edit Unit  -->
<div class="modal fade" id="unitModal" tabindex="-1" aria-labelledby="unitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unitModalLabel">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" [(ngModel)]="newUnitName"
          [placeholder]="action === 'add' ? 'Tên đơn vị mới' : 'Tên đơn vị sửa'" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="saveUnit()">
          {{ action === 'add' ? 'Thêm' : 'Lưu' }}
        </button>

      </div>
    </div>
  </div>
</div>