<!-- Button Thêm, sửa, xóa -->
<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center justify-content-start">
    <button type="button" class="btn btn-outline-secondary rounded d-flex align-items-center gap-2" title="Thêm mới"
      (click)="openAddModal()">
      <i class="fas fa-plus"></i>
      <span>Thêm</span>
    </button>
    <button type="button" class="btn btn-outline-secondary rounded d-flex align-items-center gap-2" title="Sửa"
      (click)="openEditModal()">
      <i class="fas fa-pen"></i>
      <span>Sửa</span>
    </button>
    <button type="button" class="btn btn-outline-secondary rounded d-flex align-items-center gap-2" title="Xóa"
      (click)="openDeleteModal()">
      <i class="fas fa-trash"></i>
      <span>Xóa</span>
    </button>
    <button type="button" class="btn btn-outline-secondary rounded d-flex align-items-center gap-2" title="Refresh">
      <i class="fas fa-sync-alt"></i>
      <span>Refresh</span>
    </button>
  </div>
</div>
<!-- End Button Thêm, sửa, xóa -->

<!-- Table Team, Nhân viên -->
<div class="row">
  <div class="col-lg-6">
    <div class="d-flex align-items-center mb-2">
      <label for="" class="form-label col-lg-2 text-center m-0 fs-12">Phòng ban</label>
      <ng-select id="department" [(ngModel)]="department" name="department" [items]="departmentList" bindLabel="Name"
        clearable="false" bindValue="ID" (change)="onDepartmentChange()"
        style="width: 60%;">
        <ng-template ng-option-tmp let-item="item" class="w-50">
              <div class="row text-dark w-100 fs-12">
                <div class="col-3 ms-1">
                  <span class="fs-12">{{ item.Name }}</span>
                </div>
              </div>
            </ng-template>
      </ng-select>
      <button type="button" class="btn btn-outline-secondary rounded px-3 d-flex align-items-center gap-2 py-2 ms-2"
        title="Đặt lại" (click)="resetDepartment()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div id="team-table"></div>
  </div>
  <div class="col-lg-6">
    <div class="toolbar mb-4 d-flex align-items-center gap-2 justify-content-end">
      <button type="button" class="btn btn-outline-secondary rounded px-3 d-flex align-items-center gap-2"
        title="Thêm NV" (click)="openAddEmployeeModal()">
        <i class="fas fa-plus"></i>
        <span>Thêm NV</span>
      </button>
      <button type="button" class="btn btn-outline-secondary rounded px-3 d-flex align-items-center gap-2"
        title="Xóa NV" (click)="removeEmployeeFromTeam()">
        <i class="fas fa-trash"></i>
        <span>Xóa NV</span>
      </button>
    </div>
    <div id="employee-table"></div>
  </div>
</div>
<!-- End Table Tem, Nhân viên -->

<!-- Modal Thêm, sửa Team -->
<div class="modal fade" id="addTeamModal" tabindex="-1" aria-labelledby="addTeamModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h6 class="modal-title text-uppercase" id="addTeamModalLabel" *ngIf="!isEditMode">Thêm Team</h6>
        <h6 class="modal-title text-uppercase" id="addTeamModalLabel" *ngIf="isEditMode">Sửa Team</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #teamForm="ngForm" (ngSubmit)="onSubmit(teamForm)">
          <div class="mb-3">
            <label for="department" class="form-label">Phòng ban <span class="text-danger">(*)</span></label>
            <ng-select id="department" [(ngModel)]="team.DepartmentID" name="department" [items]="departmentList"
              clearable="true" bindLabel="Name" bindValue="ID" placeholder="--Chọn phòng ban-- "
              >
              <ng-template ng-option-tmp let-item="item" class="w-50">
              <div class="row text-dark w-100 fs-12">
                <div class="col-3 ms-1">
                  <span class="fs-12">{{ item.Name }}</span>
                </div>
              </div>
            </ng-template>
            </ng-select>
          </div>
          <div class="mb-3">
            <label for="parentID" class="form-label">Nhóm cha <span class="text-danger">(*)</span></label>
            <ng-select id="parentID" [(ngModel)]="team.ParentID" name="parentID" clearable="true"
              [items]="flattenedTeamList" bindLabel="Name" bindValue="ID" placeholder="--Chọn nhóm cha-- "
             >
              <ng-template ng-option-tmp let-item="item">
                <div class="d-flex align-items-center" [style.padding-left.px]="item.level * 20">
                  <i *ngIf="item.children && item.children.length > 0" class="fas"
                    [class.fa-chevron-right]="!item.expanded" [class.fa-chevron-down]="item.expanded"
                    style="margin-right: 5px;">
                  </i>
                  <span>{{item.Name}}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="mb-3">
            <label for="leader" class="form-label">Leader <span class="text-danger">(*)</span></label>
            <ng-select id="leader" [(ngModel)]="team.LeaderID" name="leader" clearable="true" [items]="employeeCombo"
              bindLabel="FullName" bindValue="ID" placeholder="--Chọn leader-- "
              >
              <ng-template ng-option-tmp let-item="item">
              <div class="row text-dark w-100 fs-12">
                <div class="col-3 ms-1">
                  <span class="fs-12">{{ item.FullName }}</span>
                </div>
              </div>
            </ng-template>
            </ng-select>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Tên Team <span class="text-danger">(*)</span></label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="team.Name" required
              #name="ngModel" style="height: 30px;">
          </div>
          <div class="mb-3">
            <label for="typeName" class="form-label">Loại Team <span class="text-danger">(*)</span></label>
            <ng-select id="typeName" clearable="true" [(ngModel)]="team.ProjectTypeID" name="typeName"
              [items]="projectTypeList" bindLabel="ProjectTypeName" bindValue="ID" placeholder="--Chọn loại team-- "
              >
              <ng-template ng-option-tmp let-item="item" class="w-50">
              <div class="row text-dark w-100 fs-12">
                <div class="col-3 ms-1">
                  <span class="fs-12">{{ item.ProjectTypeName }}</span>
                </div>
              </div>
            </ng-template>
            </ng-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
          style="height: 3vh; border: 1px solid">Đóng</button>
        <button type="button" class="btn btn-success" style="height: 3vh;" (click)="onSubmit(teamForm)">Lưu thay
          đổi</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Thêm , sửa Nhân viên -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-uppercase" id="addEmployeeModalLabel">Thêm Nhân viên</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-12">
        <div class="d-flex align-items-center mb-2">
          <label for="" class="form-label col-lg-2 text-center m-0 fs-12">Phòng ban</label>
          <ng-select id="department" [(ngModel)]="departmentEmployee" name="department" [items]="departmentEmployeeList"
            bindLabel="Name" clearable="false" bindValue="ID" 
            (change)="onDepartmentEmployeeChange()" style="width: 60%;">
            <ng-template ng-option-tmp let-item="item" class="w-50">
              <div class="row text-dark w-100 fs-12">
                <div class="col-3 ms-1">
                  <span class="fs-12">{{ item.Name }}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
          <button type="button" class="btn btn-outline-secondary rounded px-3 d-flex align-items-center gap-2 py-2 ms-2"
            title="Đặt lại" (click)="resetDepartmentEmployee()">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div id="employee-team-table"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="closeEmployeeModal()"
          style="height: 3vh; border: 1px solid;">Đóng</button>
        <button type="button" class="btn btn-success" (click)="addEmployeesToTeam()" style="height: 3vh;">Lưu thay
          đổi</button>
      </div>
    </div>
  </div>
</div>